<h2>Meet <%= @user.name %>!</h2>
<h3><%= @user.profile %></h3>
<h3><%= @user.name %> is looking to trade:</h3>

<% if @user.produces().any?() %>
  <ul>
    <% @user.produces().each() do |produce| %>
      <li><%= produce.produce_type() %> </li>
    <% end %>
  </ul>

  <% else %>
    <p>This grower isn't ready to trade yet!</p>
  <% end %>

<br>
<p><a href="/users/<%= @user.id() %>/edit">Edit User</a></p>
