<h2>Produce Details: <%= @produce.produce_type %> </h2>

<ul>

<li>Description: <%= @produce.description %></li>
<li>Looking to trade for: <%= @produce.trade %></li>
<li>Grower: <% @produce.users.each do |user| %>
  <li><a href="/users/<%= @user.id() %>"><%= user.name %></option></li>

<% end %>
</li>

</ul>
