<h2>Produce Details: <%= @produce.produce_type %> </h2>

<ul>
  <li>Description: <%= @produce.description %></li>
  <li>Looking to trade for: <%= @produce.trade %></li>
  <li>Grower: <%= @found_user.name %></li>
  </li>
</ul>

<br>
<p><a href="/produce/<%= @produce.id() %>/edit">Edit Produce Details</a></p>
<p><a href="/produce">Add Another Piece of Produce</a></p>
