<h2>Produce Details: <%= @produce.produce_type %> </h2>

<ul>
  <li>Description: <%= @produce.description %></li>
  <li>Looking to trade for: <%= @produce.trade %></li>
  <li>Grower: <%= @found_user.name %></li>
  </li>
</ul>

<% if @offer.any?() %>
  <h2>Current Offers</h2>
  <br>
  <% @offer.each do |offer| %>
  <h4>
  <% end %>
<% else %>
<h4>There are no offers yet!</h4>
<% end %>

<br>
<% if @session_id != nil %>
  <h4>Hi, <%= @logged_user.name %> would you like to make an offer?</h4>
  <div class="form">
    <form action="/offer" method="post" class="form-container">
      <p><label for="trade">What do you have to trade?</label>
      <input id="trade" name="trade" type="text" class="form-control"></p>
      <p><label for="message">Tell the grower more about yourself!</label>
      <input id="message" name="message" type="text" class="form-control"></p>
      <p><button type="submit" class="btn btn-info">Email User</button></p>
    </form>
  </div>

  <% else %>
  <h3><a href="/login">Log in</a> or <a href="/createaccount">create account</a>.</h3>
<% end %>

<br>
<p><a href="/produce/<%= @produce.id() %>/edit">Edit Produce Details</a></p>
<p><a href="/produce">Add Another Piece of Produce</a></p>
