<h2>Produce Details: <%= @produce.produce_type %> </h2>
<ul>
  <li><img src="<%= @produce.image %>" width="200" height ="200"></li>
  <li>Description: <%= @produce.description %></li>
  <li>Looking to trade for: <%= @produce.trade %></li>
  <li>Grower: <%= @found_user.name %></li>
</ul>
<% if @offers.any?() %>
  <h2>Current Offers</h2>
  <br>
  <% @offers.each do |offer| %>
  <h4><%= offer.user_name %></h4>
    <li>Trade Item: <%= offer.trade_item %></li>
    <li>Description: <%= offer.description %></li>
  <% end %>
<% else %>
<h4>There are no offers yet!</h4>
<% end %>
<br>
<% if @session_id != nil %>
  <h4>Hi, <%= @logged_user.name %> would you like to make an offer?</h4>
  <div class="form">
    <form action="/produce/<%= @produce.id %>/offer" method="post" class="form-container">
      <input id="produce_id" name="produce_id" type="hidden" value="<%= @produce.id %>">
      <input id="user_name" name="user_name" type="hidden" value="<%=   @logged_user.name %>">
      <p><label for="trade_item">What do you have to trade?</label>
      <input id="trade_item" name="trade_item" type="text" class="form-control"></p>
      <p><label for="description">Tell the grower more about your produce!</label>
      <input id="description" name="description" type="text" class="form-control"></p>
      <p><button type="submit" class="btn btn-info">Submit Offer</button></p>
    </form>
    <% if @error_message != nil %>
      <%= @error_message %>
    <% end %>
  </div>

  <% else %>
  <h3><a href="/login">Log in</a> or <a href="/createaccount">create account</a>.</h3>
<% end %>

<br>
<p><a href="/produce/<%= @produce.id() %>/edit">Edit Produce Details</a></p>
<p><a href="/produce">Add Another Piece of Produce</a></p>
