<h2>Event Details: <%= @event.title %> </h2>

<p><u>Description</u>: <%= @event.description %></p>
<p><u>Date</u>: <%= @event.date %></p>
<p><u>Neighborhood</u>: <%= @event.quadrant %></p>

<br>
<h4>Current Attendees:</h4>
  <% if @event.users.any? %>
    <ul>
      <% @event.users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>This event has no attendees yet. Add your name below!</p>
  <% end %>


<br>
<h4>RSVP to this event:</h4>

<form action="/events/<%= @event.id %>" method="post" class="form-container">
  <p><label for="name">Enter Username:</label>
  <input id="name" name="name" type="text" class="form-control"></p>
  <p><button type="submit">RSVP!</button></p>
</form>

<br>
<p><a href="/events/<%= @event.id() %>/edit">Edit Event</a></p>
