<h2>Event Details: <%= @event.title %> </h2>

<h4><%= @event.description %></h4>
<h4><%= @event.date %></h4>
<h4><%= @event.quadrant %></h4>

<h4>Current Attendees</h4>
  <% if @event.users.any? %>
    <ul>
      <% @event.users.each do |user| %>
        <li><%= user.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p>This event has no attendees yet. Add your name!</p>
  <% end %>


<br>
<h4>RSVP to this event:</h4>

<form action="/events/<%= @event.id %>" method="post" class="form-container">
  <p><label for="name">Username:</label>
  <input id="name" name="name" type="text" class="form-control"></p>
  <p><button type="submit" class="btn btn-info">RSVP!</button></p>
</form>


<p><a href="/events/<%= @event.id() %>/edit">Edit Event</a></p>
